{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {% if className == "PostCreateView" %}
                    <legend class="border-bottom mb-4">Create Blog Post</legend>
                {% else %}
                    <legend class="border-bottom mb-4">Update Blog Post</legend>
                {% endif %}
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                {% if className == "PostCreateView" %}
                    <button class="btn btn-outline-info" type="submit">Create</button>
                {% else %}
                    <button class="btn btn-outline-info" type="submit">Update</button>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}